<div class="card">
  <div class="card-body">
    {{ tarea.descripcion }}
    <form #f="ngForm" (ngSubmit)="sumitForm()" novalidate>
      <div class="form-group">
        <label for="titulo">Titulo</label>
        <input
          type="texto"
          id="titulo"
          name="titulo"
          [(ngModel)]="tarea.titulo"
          #titulo="ngModel"
          class="form-control"
          placeholder="Ingresa el titulo de la tarea"
        />
      </div>
      <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <textarea
          id="descripcion"
          name="descripcion"
          [(ngModel)]="tarea.descripcion"
          #descripcion="ngModel"
          class="form-control"
          placeholder="Escribe la tarea que se debe a realizar"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="prioridad">Prioridad</label>
        <select
          class="form-control"
          id="prioridad"
          name="prioridad"
          [(ngModel)]="tarea.prioridad"
          #prioridad="ngModel"
        >
          <option *ngFor="let item of prioridadesList" [value]="item.value">{{
            item.text
          }}</option>
        </select>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input
              type="texto"
              id="nombre"
              name="nombre"
              [(ngModel)]="tarea.asignado.nombre"
              #nombre="ngModel"
              class="form-control"
              placeholder="Ingresa el asignado a esta tarea"
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input
              type="texto"
              id="apellido"
              name="apellido"
              [(ngModel)]="tarea.asignado.apellido"
              #apellido="ngModel"
              class="form-control"
              placeholder="Ingresa el asignado a esta tarea"
            />
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>
</div>
